

/*============nav bar============*/
.navbar {
  width: 100%;
  background-color: black;
  padding: 10px;
  color:white;
  height: 44px;
}

#navlogo {
  width: 200px;
  height: 40px;
  float: left;
}

.logout_button {
  float: right;
  margin-right: 50px;
  margin-top: 15px;
}

.logout_button input {
  border: none;
  background: none;
  font-size: 12px;
}

.bodydiv {
  width: 80%;
  border: 1px solid black;
  margin: auto;
}

/*============main content============*/
th {
  text-align: left;
}
.container {
  margin: 20px auto;
  width: 60%;
  padding: 20px 20px 20px 20px;
  margin: auto center;
  /*border: 1px dotted black;*/
}

.logo {
  float: left;
  background-image:url('../images/3at_flashcards_black_red.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 200px 150px;
  width: 270px;
  height: 200px;
  margin-left: 10px;
}

.signup input {
  float: right;
  /*background-color: rgba(255,255,255,0.4);*/
}

/*============game content============*/

.deck {
  margin: 5px;
}

.deck_table {
  width: 88%;
}

.deck_selection {
  text-align: right;
  float: right;
  padding: 5px;
  /*border: 1px solid black;*/
}

.deck_selection a {
  text-decoration: none;
}

tr:nth-child(odd)
{
background:#feefff;
}

tr:nth-child(even)
{
background:#fff;
}

.deck_name {
  /*float: left;*/
  /*border: 1px solid black;*/
  padding: 5px;
  margin: 5px;
}

#content {
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.skip_button {
  margin-top: 10px;
}

