.container {
  margin: 20px auto;
  width: 70%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}


.navbar {
  width: 100%;
  background-color: black;
  padding: 10px;
  color:white;
}

.bodydiv {
  width: 80%;
  border: 1px solid black;
  margin: auto;
}

.deck_selection {
  text-align: right;
  float: right;
  border: 1px solid black;

  text-decoration: none;
}

.deck_name {
  /*float: left;*/
  border: 1px solid black;/*
}
