<div class="container">
  <div class = "logo">
  </div>
  <div class = "login">
    <form action='/newuser' method='post'>
      <input type='text' name='name' placeholder="name"><br>
      <input type='text' name='email' placeholder="email"><br>
      <input type='password' name='password_hash' placeholder="password"><br>
      <input type='password' name='password_hash_confirmation' placeholder="confirm password"><br>
      Use <a href='http://imgur.com/'>imgur</a> to upload an image.<br>
      <input type='text' name='image_location' placeholder="user image"><br>
      <input type='submit' value='Sign Up'>
    </form>
  </div>
</div>
