<div id="nav_bar">

  <div id="body">

    <div id="content">
      <%=@card.question%>
      <form action="/games" method="post" >
        Enter your guess:
        <input type="text" name="guess"  >
        <input type="submit" value="Guess" >
      </form>

      Your score is: <%=@game_score%>




    </div>
  </div>
</div>
