<div id="nav_bar">

  <div id="body">

    <div id="content">
      <%=@card.question%>
      <form action="/turn" method="post" >
        Enter your guess:
        <input type="text" name="guess"  >
        <input type="submit" value="Guess" >
      </form>
      <form action="/skipcard" method='post'>
        <input type='submit' value='Skip'>
      </form>
      <p>The answer to the last question was <%=@score_correct%>. Try the next card.</p>
      <p>Your score is: <%=@game_score%></p>
    </div>
  </div>
</div>
