<div id="nav_bar">

  <div id="body">

    <div id="content">
      <div><p><%="#{@game.deck.name}: #{@game.deck.description}"%></p></div>
      <%=@card.question%>
      <form action="/turn" method="post" >

        <input type="text" name="guess" placeholder="Enter your guess" >
        <input type="submit" value="Guess" >
      </form>
      <form action="/skipcard" method='post'>
        <input class="skip_button" type='submit' value='Skip'>
      </form>
      <%if @last_answer != nil%>
      <p><%="The answer to the last question was #{@last_answer}. Try the next card."%></p>
      <%end%>
      <p>Your score is: <%=@game_score%></p>
    </div>
  </div>
</div>
