<div class="container">


  <div class = "logo">
    <h1>3AT Flashcards</h1>
  </div>

  <div class = "login">
    <!--<p>email/password/login/create new</p>-->
    <form action='/login' method='post'>
      email:<input type='text' name='email'><br>
      password: <input type='password' name='password_hash'><br>
      <input type='submit' value='login'> <a href='/signup'>Sign Up</a>
    </form>

  </div>


  <a href='/decks'>Go to decks.</a></p>
</div>
