
<div id="content">
  Create your own deck of flashcards to play with!
  <form action="/newdeck" method="post" >
    Enter the name of your deck:
    <input type="text" name="deck_name"  >
    Enter a description of your deck:
    <input type="text" name="deck_description"  >
    <input type="submit" value="Create" >
  </form>




</div>
