<div class="container">


  <div class = "logo">
    <h1>3AT Flashcards</h1>
  </div>

  <div class = "login">
    <!--<p>email/password/login/create new</p>-->
    <form action='/newuser' method='post'>
      Name:<input type='text' name='name'><br>
      email:<input type='text' name='email'><br>
      Password: <input type='password' name='password_hash'><br>
      Confirm Password: <input type='password' name='confirm_password_hash'><br>
      Use <a href='http://imgur.com/'>imgur</a> to upload a user profile.<br>
      Image Location:<input type='text' name='image_location'><br>
      <input type='submit' value='Sign Up'>
    </form>

  </div>

</div>
